# ===========================================
# LMS Environment Configuration
# ===========================================

APP_NAME="lms"
APP_ENV=local
APP_DEBUG=false
APP_URL=http://${HOST_IP:-localhost}
DB_CONNECTION=mysql
DB_DATABASE=lms_db

# ===========================================
# MinIO / S3 Configuration
# ===========================================
FILESYSTEM_DISK=s3
LIVEWIRE_TMP_DISK=local
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=password
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=lms
AWS_ENDPOINT=http://minio:9000
AWS_URL=http://${HOST_IP:-localhost}:9090/lms
AWS_USE_PATH_STYLE_ENDPOINT=true
IAM_JWT_SECRET=base64:G8w0qytVP8V+Mml5pYqm90R9m7AdfltGk1GCXMGq2qw=
