# ===========================================
# LMS Environment Configuration
# ===========================================

APP_NAME="lms"
APP_ENV=production
APP_DEBUG=false
APP_URL=http://${HOST_IP:-localhost}

# ===========================================
# MinIO / S3 Configuration
# ===========================================
FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=password
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=lms
AWS_ENDPOINT=http://minio:9090
AWS_URL=http://${HOST_IP:-localhost}:9090/lms
AWS_USE_PATH_STYLE_ENDPOINT=true
