# ===========================================
# Smartpresence Deskripsi
# Production Environment Example
# ===========================================

APP_NAME="smsp"
APP_ENV=local
# APP_KEY=
APP_DEBUG=false
APP_URL=http://${HOST_IP:-localhost}:${SMSP_HOST_PORT:-7200}

APP_WORKDIR=/var/www/smsp
PUBLIC_VOLUME=/var/www/smsp/public
TRUSTED_PROXIES=*

# ===========================================
# Database
# ===========================================
DB_CONNECTION=mysql
DB_HOST=database-service
DB_PORT=3306
DB_DATABASE=smsp_db
DB_USERNAME=smsp_user
DB_PASSWORD=smsp_password

# ===========================================
# Cache, Queue, Session
# ===========================================
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=120

# ===========================================
# Redis
# ===========================================
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# ===========================================
# Mail
# ===========================================
MAIL_MAILER=smtp
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@example.com
MAIL_FROM_NAME="${APP_NAME}"

# ===========================================
# MinIO / S3
# ===========================================
FILESYSTEM_DISK=s3
LIVEWIRE_TMP_DISK=local
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=password
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=smsp
AWS_ENDPOINT=http://minio:9000
AWS_URL=http://${HOST_IP:-localhost}:9090/smsp
AWS_USE_PATH_STYLE_ENDPOINT=true

# ===========================================
# Logging
# ===========================================
LOG_CHANNEL=stack
LOG_LEVEL=debug

# ===========================================
# App Runtime
# ===========================================
SKIP_PUBLIC_SYNC=false

# ===================================================
# Identity & Access Management (SSO Configuration)
# ===================================================
USE_SSO=true
IAM_ENABLED=true
IAM_HOST=http://${HOST_IP:-localhost}:8110
IAM_VERIFY_ENDPOINT=http://${HOST_IP:-localhost}:8110/api/sso/verify
IAM_REFRESH_TOKEN_ENDPOINT=http://${HOST_IP:-localhost}:8110/api/sso/token/refresh
IAM_BACKCHANNEL_USER_APPLICATIONS_ENDPOINT=http://${HOST_IP:-localhost}:8110/api/users/applications/detail
IAM_APP_KEY=smartpresence-services
IAM_JWT_SECRET=base64:G8w0qytVP8V+Mml5pYqm90R9m7AdfltGk1GCXMGq2qw=
IAM_BASE_URL=${IAM_HOST}
IAM_LOGIN_ROUTE=/sso/login
IAM_CALLBACK_ROUTE=/sso/callback
IAM_DEFAULT_REDIRECT=http://${HOST_IP:-localhost}:7250/dashboard
IAM_GUARD=web
IAM_USER_MODEL=App\Models\User
IAM_IDENTIFIER_FIELD=nip
IAM_PRESERVE_SESSION_ID=true
IAM_SYNC_ROLES=false
IAM_ROLE_GUARD_NAME=web
IAM_STORE_TOKEN_IN_SESSION=true
IAM_ROLE_SYNC_MODE=push
IAM_ROLE_SYNC_FROM_IAM_ALLOW_CREATE=true
SSO_SECRET=4dbd0abf1a4551ace73e65c92781d8ba65066e90301241c04ce64fdc622a3f77
IAM_BACKCHANNEL_METHOD=jwt
IAM_BACKCHANNEL_VERIFY=true
IAM_ISSUER=${IAM_HOST}
IAM_USER_APPLICATIONS_ENDPOINT=${IAM_HOST}/api/users/applications/detail